In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./temp_data/merged_df.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [3]:
df.shape

(2919, 80)

In [4]:
df1 = df[df.MSZoning.isnull()!=True]
df1.shape

(2915, 80)

In [5]:
X = df1.MSSubClass.copy()
y = df1.MSZoning.copy()

In [6]:
X_dummy = pd.get_dummies(X)
X_dummy.sample(5)

,20,30,40,45,50,60,70,75,80,85,90,120,150,160,180,190
1737,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2706,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
436,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2046,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2453,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X_dummy, y, random_state=2)

In [9]:
X_train.shape, y_train.shape

((2186, 16), (2186,))

In [10]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.8106995884773662

In [11]:
mnb = MultinomialNB(alpha=0.02)
mnb.fit(X_train, y_train)
mnb.score(X_test, y_test)

0.823045267489712

In [12]:
svc = SVC()
svc.fit(X_train, y_train)
svc.score(X_test, y_test)

0.823045267489712

In [13]:
values = pd.DataFrame([
    [0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0], # 30
    [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0], # 20
    [0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0]  # 70
])

In [14]:
mnb.predict(values)

array(['RM', 'RL', 'RM'], dtype='<U7')

In [15]:
svc.predict(values)

array(['RM', 'RL', 'RM'], dtype=object)

In [16]:
lr.predict(values)

array(['RM', 'RL', 'RL'], dtype=object)

# Conclusion
|MSSubClass|MSZoning|
|---|---|
|20|RL|
|30|RM|
|70|RM|